@model List<OrderDetailModel>

@if (Model.Count > 0) {
  decimal total = 0;
  int stt = 1;
  
  <table class="table">
    <tr>
      <th>#</th>
      <th>Sản phẩm</th>
      <th>Giá</th>
      <th>Số lượng</th>
      <th>Thành tiền</th>
      <th></th>
    </tr>
    @foreach (var cartitem in Model)
    {
        var thanhtien = cartitem.Quantity * cartitem.Product.ProductPrice;
        total += (decimal)thanhtien;
        
        <tr>
            <input type="hidden" asp-for="@cartitem.Product.ProductId" id="idProduct"/>
            <td>@(stt++)</td>
            <td>@cartitem.Product.ProductName</td>
            <td>@(cartitem.Product.ProductPrice.ToString("n0"))</td>
            <td><input type="number" asp-for="@cartitem.Quantity" id="@($"quantity-{cartitem.Product.ProductId}")" data-productid="@cartitem.Product.ProductId" class="updatecartitem" oninput="this.value = this.value.replace(/[^0-9.]/g, '').replace(/(\..*)\./g, '$1');"/></td>
            @* <td><input type="number" id="quantity" asp-for="@cartitem.Quantity" onkeyup="updateItem()"></td> *@
            <td>@(thanhtien.ToString("n0"))</td>
            <td>
                @* <button class="btn btn-success updatecartitem"data-productid="@cartitem.Product.ProductId">Update</button> *@
                <button class="btn btn-danger remove" data-productid="@cartitem.Product.ProductId">Xóa</button>
            </td>
        </tr>
    }
      <tr>
          <td colspan="4" class="text-right">Tổng tiền</td>
          <td>@(total.ToString("n0"))</td>
          <td></td>
      </tr>
  </table>

  @* <a asp-controller="Product" asp-action="Checkout" class="btn btn-success">Gửi đơn hàng</a> *@
    
}
else {
  <p class="alert alert-danger">Giỏ hàng trống</p>
}
@section Scripts {
    <script>
    $(document).ready(function () {
                  $(".updatecartitem").keyup(function (event) {
                      event.preventDefault();
                      var productid = $(this).data("productid");
                      var quantity = $("#quantity-" + productid).val();
                      $.ajax({
                          type: "POST",
                          url:"/Home/UpdateCart/",
                          data: {
                              productid,
                              quantity
                          },
                          success: function (result) {
                              if (result.error){
                              alert(result.message);
                              return;
                              }
                              window.location.href = "@Url.Action("OrderDetail", "Home")";
                          },
                          fail: function(result) {
                             alert("Lỗi ERoRr")
                          } 
                      });
                  });
              
                        $(".remove").click(function (event) {
                            event.preventDefault();
                            if (confirm("Do you really wait to remove this product out your cart ?")=== true)
                            var productid = $(this).data("productid");
                            $.ajax({
                                type: "POST",
                                url:"/Home/UpdateCart/",
                                data: {
                                    productid: productid,
                                },
                                success: function (result) {
                                    if (result.error){
                                    alert(result.message);
                                    return;
                                    }
                                    window.location.href = "@Url.Action("OrderDetail", "Home")";
                                },
                                fail: function(result) {
                                   alert("Lỗi ERoRr")
                                } 
                            });
                        });
                    });
        </script>
    @* <script> *@
    @* // function updateItem(){ *@
    @* //             var productid = $(this).data("productid"); *@
    @* //                       var quantity = $("#quantity" + productid).val(); *@
    @* //             $.ajax({ *@
    @* //                type:'POST', *@
    @* //                url: '/Home/UpdateCart/', *@
    @* //                data: { *@
    @* //                    productid, *@
    @* //                     quantity, *@
    @* //                }, *@
    @* //                success: function (result) { *@
    @* //                if (result.error){ *@
    @* //                alert(result.message); *@
    @* //                return; *@
    @* //                } *@
    @* //                window.location.href = "@Url.Action("OrderDetail", "Home")"; *@
    @* //                }, *@
    @* //                fail: function(result) { *@
    @* //                alert("Lỗi ERoRr") *@
    @* //                }  *@
    @* //            }); *@
    @* //         } *@
    @* </script> *@
}
<style>
/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}
</style>