@{
   ViewData["Title"] = "Product";
    Layout = "_Layout";
}
@model eShop.WebApp.Models.IndexModel; 
<section class="product_section layout_padding">
         <div class="container">
            <div class="heading_container heading_center">
               <h2>
                  Our <span>products</span>
               </h2>
            </div>
            @* <a href="@Url.Action("CreateProduct","Home")">Add Product</a> *@
            <div class="row">
               @foreach (var item in Model.Products)
                           {
                              <div class="col-sm-6 col-md-4 col-lg-4">
                                 <div class="box">
                                    <div class="option_container">
                                       <div class="options">
                                          <a href="@Url.Action("AddToCart","Home",new {id = @item.ProductId})" class="option1" data>
                                             Add To Cart
                                          </a>
                                          <a href="@Url.Action("DetailProduct","Home",new {id = @item.ProductId})" class="option2">
                                             Buy Now
                                          </a>
                                       </div>
                                    </div>
                                    <div class="img-box">
                                       <img src="@item.ProductImage" alt="">
                                    </div>
                                    <div class="detail-box">
                                       <h5>
                                          @item.ProductName
                                       </h5>
                                       <h6>
                                          @item.ProductPrice.ToString("n0") VND
                                       </h6>
                                    </div>
                                 </div>
                              </div>
                           }
            </div>
         </div>
      </section>
